<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NewUsuario</servlet-name>
        <servlet-class>servlets.NewUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewCategoria</servlet-name>
        <servlet-class>servlets.NewCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewIngrediente</servlet-name>
        <servlet-class>servlets.NewIngrediente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllPlatos</servlet-name>
        <servlet-class>servlets.AllPlatos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewPlato</servlet-name>
        <servlet-class>servlets.NewPlato</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllCategorias</servlet-name>
        <servlet-class>servlets.AllCategorias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginChef</servlet-name>
        <servlet-class>servlets.LoginChef</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewReserva</servlet-name>
        <servlet-class>servlets.NewReserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>servlets.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewPlatoIngredientes</servlet-name>
        <servlet-class>servlets.NewPlatoIngredientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllPlatoIngredientes</servlet-name>
        <servlet-class>servlets.AllPlatoIngredientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllCarta</servlet-name>
        <servlet-class>servlets.AllCarta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewUsuarioChef</servlet-name>
        <servlet-class>servlets.NewUsuarioChef</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllMenu</servlet-name>
        <servlet-class>servlets.AllMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuienesSomos</servlet-name>
        <servlet-class>servlets.QuienesSomos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewUsuario</servlet-name>
        <url-pattern>/NewUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewIngrediente</servlet-name>
        <url-pattern>/NewIngrediente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewCategoria</servlet-name>
        <url-pattern>/NewCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllPlatos</servlet-name>
        <url-pattern>/AllPlatos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginChef</servlet-name>
        <url-pattern>/LoginChef</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewPlato</servlet-name>
        <url-pattern>/NewPlato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllCategorias</servlet-name>
        <url-pattern>/AllCategorias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewReserva</servlet-name>
        <url-pattern>/NewReserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/CerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewPlatoIngredientes</servlet-name>
        <url-pattern>/NewPlatoIngredientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllPlatoIngredientes</servlet-name>
        <url-pattern>/AllPlatoIngredientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllCarta</servlet-name>
        <url-pattern>/AllCarta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewUsuarioChef</servlet-name>
        <url-pattern>/NewUsuarioChef</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllMenu</servlet-name>
        <url-pattern>/AllMenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuienesSomos</servlet-name>
        <url-pattern>/QuienesSomos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
